<div class="container-fluid">
    <h1>Add New Product - Step 3</h1>

    <form method="post" enctype="multipart/form-data" id="step3">
        <div class="mb-3">
            <label for="coverImage" class="form-label">Product Title Image</label>
            <input type="file" 
                class="form-control" 
                id="coverImage" 
                name="coverImage" 
                accept="image/*">
        </div>
        <button type="submit" class="btn btn-primary">Next</button>
    </form>

    <script>
        const productData = JSON.parse(sessionStorage.getItem('productData') || '{}');
        
        if (productData.coverImage) {
            const coverImageInput = document.getElementById('coverImage');
            coverImageInput.removeAttribute('required');
        }
        
        document.getElementById('step3').addEventListener('submit', async function(event) {
            event.preventDefault();
            
            const productData = JSON.parse(sessionStorage.getItem('productData') || '{}');
            const formData = new FormData();
            
            Object.entries(productData).forEach(([key, value]) => {
                formData.append(key, value);
            });
            
            const coverImage = document.getElementById('coverImage').files[0];
            if (coverImage) {
                formData.append('coverImage', coverImage, 'coverImage');
            }
            
            try {
                const response = await fetch('/admin/products/add-product/step3', {
                    method: 'POST',
                    body: formData
                });
                
                if (response.ok) {
                    const filename = response.headers.get('x-filename');
                    console.log(response.headers.get('x-filename'));
                    const productData = JSON.parse(sessionStorage.getItem('productData') || '{}');
                    const updatedProductData = { ...productData, coverImage: filename };
                    sessionStorage.setItem('productData', JSON.stringify(updatedProductData));
                    window.location.href = '/admin/products/add-product/step4';
                } else {
                    console.error('Error during fetch:', response.statusText);
                }
            } catch (error) {
                console.error('Error during fetch:', error);
            }
        });
    </script>
</div>