
    {{!-- <div class="first_section">
        <a class="loc_info" href="#"><i class="fa-solid fa-location-dot"></i> Please set Delivery Address</a>
    </div> --}}
    <div class="first_container">
        <div class="landing_section">
            <h1>Your One-Stop Shop for Everything</h1>
            <h3>Discover deals that spark your day,Shop now—don't let them slip away!</h3>
            <a href="/user" class="my_btn">Explore our Products</a>
        </div>
    </div>
    
