<div class="container">
    <h1>Your Shopping Cart</h1>
    <div class="row" id="cart-items">
        <!-- Cart items will be dynamically added here -->
    </div>
        <div class="cart-summary">
        <h2>Cart Summary</h2>
        <div id="cart-total"></div>
    </div>
</div>

<script src="/public/js/cartScript.js"></script>